body {
  margin: 0;
}

.first {
  background-color: #0A043C;
  background-image: url("../img/circuit.gif");
  background-size: 100% 100%;
}

.second {
  background-color: #03506F;
}

.first, .second {
  padding: 10em 0 10em 0;
  color: #BBBBBB;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 0.5em 0 0.5em 0;
  padding: 0.5em 0 0.5em 0;
  font-size: 225%;
  text-align: center;
  color: #FFE3D8;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: 125%;
  margin: 0;
  text-align: center;
}

.first>h1, .first>h2 {
  background-color: #0A043C;
}

.second>ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
